@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations;

@using Week8PicknPay.Components

@inherits AddAddressModalBase



<EditForm Model="@AddressModel" OnValidSubmit="@HandleSubmit">

    <DataAnnotationsValidator />
    <CustomFormValidator @ref="customFormValidator" />

    <div class="modal-form-header">
        <h3>Address Form</h3>
    </div>

    <div class="form-group">
        <label for="PhoneNo">Phone Number</label>
        <InputText id="PhoneNo" @bind-Value="AddressModel.PhoneNo" class="form-control" />
        <ValidationMessage For="@(() => AddressModel.PhoneNo)" class="text-danger" />
    </div>

    <div class="form-group">
        <label for="HouseNo">House Number</label>
        <InputText id="HouseNo" @bind-Value="AddressModel.HouseNo" class="form-control" />
        <ValidationMessage For="@(() => AddressModel.HouseNo)" class="text-danger" />
    </div>

    <div class="form-group">
        <label for="Street">Street</label>
        <InputText id="Street" @bind-Value="AddressModel.Street" class="form-control" />
        <ValidationMessage For="@(() => AddressModel.Street)" class="text-danger" />
    </div>

    <div class="form-group">
        <label for="City">City</label>
        <InputText id="City" @bind-Value="AddressModel.City" class="form-control" />
        <ValidationMessage For="@(() => AddressModel.City)" class="text-danger" />
    </div>

    <div class="form-group">
        <label for="State">State</label>
        <InputText id="State" @bind-Value="AddressModel.State" class="form-control" />
        <ValidationMessage For="@(() => AddressModel.State)" class="text-danger" />
    </div>

    <div class="form-group">
        <label for="LGA">LGA</label>
        <InputText id="LGA" @bind-Value="AddressModel.LGA" class="form-control" />
        <ValidationMessage For="@(() => AddressModel.LGA)" class="text-danger" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

    <div class="form-group">
        <button data-dismiss="modal" class="btn plain">Cancel</button>
    </div>

</EditForm>



@if (show)
{
    <div class="center-alert">
        <div class="alert-content rounded">
            <p class="alert-info">Address has been successfully saved!</p>
            @if (Path != null)
            {
                <a class="alert-link" href="@Path">Ok</a>
            }
            else
            {
                <a class="alert-link" data-dismiss="modal" @onclick="() => Dismiss()">Ok</a>
            }
        </div>
    </div>
}


@code{
    [Parameter] public string Path { get; set; }
}