@model Product
    <div class="col-xs-6  col-sm-4 col-lg-3 col-md-3">
        <div class="thumbnail">
            <div class="" style="display:flex; justify-content:center;">
                <img src="@Model.ImageUrl" alt="@Model.Name" style="height: 250px; width: 100%; margin: 5px; margin-bottom:0px;">
            </div>
           
            <div class="caption" style="margin:0px;">
                <div>
                    <h4>
                        <a style="color:crimson;" asp-controller="Product"
                           asp-action="Details"
                           asp-route-id="@Model.ProductId">@Model.Name</a>
                    </h4>
                    <h4 class="pull-right">@string.Format("# {0:N}", @Model.Price)</h4>
                </div>
                <p>@Model.ShortDescription</p>
            </div>
            <div class="addToCart" style="margin:0px;">
               
                    <a class="btn btn-primary" 
                       asp-controller="ShoppingCart" 
                       asp-action="AddToShoppingCart"
                       asp-route-productId="@Model.ProductId">Add To Cart</a>
               
            </div>
        </div>
    </div>