@model Product
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <div class="" style="display:flex; justify-content:center;">
                <img src="@Model.ImageUrl" alt="@Model.Name" style="height: 250px; width: 100%; margin: 5px; margin-bottom:0px;">
            </div>
           
            <div class="caption" style="margin:0px;">
                <h3 class="pull-right">@string.Format("# {0:N}", @Model.Price)</h3>
                <h3>
                    <a asp-controller="Product"
                       asp-action="Details"
                       asp-route-id="@Model.ProductId">@Model.Name</a>
                </h3>
                <p>@Model.ShortDescription</p>
            </div>
            <div class="addToCart" style="margin:0px;">
                <p class="button">
                    <a class="btn btn-primary" 
                       asp-controller="ShoppingCart" 
                       asp-action="AddToShoppingCart"
                       asp-route-productId="@Model.ProductId">Add To Cart</a>
                </p>
            </div>
        </div>
    </div>