@model Order

<div class="order-checkout">
    <h4> Checkout</h4>
    <div class="order-section">
        <h5>Delivery/PickUp Options</h5>
        <hr />
        <div class="options">
            <div class="options-content">

                <div class="options-heading">
                    <p>Deliver to me</p>
                    <a class="btn plain">Select Delivery Address</a>
                </div>
                <div style="display: flex">
                    <i class="fas fa-location-dot"></i>
                    <p class="instruct">Hi @Model.FirstName, click on select delivery address to specify a delivery address.</p>
                </div>
                <p class="options-words">Your item should be delivered to you in about 5 working days within Lagos and Abuja, and 7 to 14 working days outside Lagos and Abuja.</p>
            </div>
            <div class="options-content">

                <div class="options-heading">
                    <p>Pickup from a Store</p>
                    <a class="btn plain">Select PickUp Location</a>
                </div>
                <div style="display: flex">
                    <i class="fas fa-location-dot"></i>
                    <p class="instruct">Select a pickup location nearest to you from our 45 pickup locations nationwide.</p>
                </div>
                <p class="options-words">Pickup items from our pickup locations closest to you.<br />Save some amount on delivery charges.</p>
            </div>
        </div>
    </div>

    <div class="order-section">
        <h5>Review Order</h5>
        <hr />
        <div class="table-label">
            <div>Products</div>
            <div>Quantity</div>
            <div>Price</div>
            <div>SubTotal</div>
        </div>
        <hr />

        @foreach (var item in Model.OrderItems)
        {
            <div class="table-label">
                <div class="order-product">
                    <div>
                        <img src="@item.Product.ImageUrl" alt="...">
                    </div>
                    <div class="item-name">@item.Product.Name</div>
                </div>
                <div>@item.Quantity</div>
                <div>@string.Format("# {0:N0}", item.Product.Price)</div>
                <div>@string.Format("# {0:N0}", item.SubTotal)</div>
            </div>
            <hr />
        }
        <div class="order-total"><b>Total (excluding delivery charges): @string.Format("# {0:N0}", Model.OrderTotal)</b></div>
    </div>

    <div class="order-section">
        <h5>Payment Options</h5>
        <hr />
        <div style="color: #726d6d;">
            <div class="cards">
                <p><b>We accept:</b></p>
                <img src="~/Images/mastercard.png" alt="master card" style="max-height: 5rem;" />
                <img src="~/Images/verve.png" alt="verve card" />
                <img src="~/Images/visa.jpg" alt="visa card" />
            </div>
            <div>
                <ul>
                    <li>Ensure sufficient balance to cover this transaction</li>
                    <li>No minimum or maximum order</li>
                    <li>Make sure your card is still valid</li>
                </ul>
            </div>
            <i class="fas fa-padlock"></i>
            <p style="margin-left: 2rem;">Transactions are 100% Safe and Secure.</p>
        </div>
       
        <hr />
        <div class="order-subtotal">
            <h5>Order SubTotal:</h5>
            <h5>@string.Format("# {0:N0}", Model.OrderTotal)</h5>
        </div>
        <hr />

        <div class="options">
            <div class="options-content payment-methods">
                <a data-toggle="modal" data-target="#transfer-modal" data-backdrop="static" data-keyboard="false">
                    <div class="payment-options">
                        <div>
                            <h5>Bank Transfer</h5>
                            <p>Make Payments Using Bank Transfer</p>
                        </div>
                        <div>
                            <img src="~/Images/bank-transfer.png" alt="transfer" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="options-content payment-methods">
                <a>
                    <div class="payment-options">
                        <div>
                            <h5>Card</h5>
                            <p>Make Payments with your Credit or Debit Card</p>
                        </div>
                        <div>
                            <img src="~/Images/credit-card.svg" alt="card" />

                        </div>
                    </div>
                </a>
            </div>
            <div class="options-content payment-methods">
                <a>
                    <div class="payment-options">
                        <div>
                            <h5>Cash on Delivery</h5>
                            <p>Pay with Cash on Delivery</p>
                        </div>
                        <div>
                            <img src="~/Images/cash-on-delivery.png" alt="cash" />
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="transfer-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img alt="Pick n Pay Stores'" src="~/Images/pick-n-pay-logo.jpg" style="margin: 9px; border-radius: 6px;" />
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="order-subtotal">
                    <h5><b>Order SubTotal:</b></h5>
                    <h5><b>@string.Format("# {0:N0}", Model.OrderTotal)</b></h5>
                </div>
                <div class="strip">
                    <b>A COPY OF THIS INSTRUCTION HAS BEEN SENT TO YOUR EMAIL</b>
                </div>
                <div style="margin: 1rem 0; text-align: justify;">
                    <p>Kindly transfer into the Account below then click the 'I have made a transfer' button to complete the transaction. (<b>NB:</b> This account number is not reusable).</p>
                </div>
                <div class="transfer-details">
                    <p>Amount:</p>
                    <h5>@string.Format("# {0:N0}", Model.OrderTotal)</h5>
                </div>
                <div class="transfer-details">
                    <p>Bank Name:</p>
                    <h5>Guaranty Trust Bank</h5>
                </div>
                <div class="transfer-details">
                    <p>Account Number:</p>
                    <h5>1234567890</h5>
                </div>
                <div class="transfer-details">
                    <p>Account Name:</p>
                    <h5>PickNPay-Ref</h5>
                </div>
                <a class="btn plain" data-dismiss="modal" data-toggle="modal" data-target="#order-success-modal" data-backdrop="static" data-keyboard="false"> I have made a transfer</a>
                <a class="btn btn-primary" data-dismiss="modal">Select another payment method</a>

            </div>
        </div>
    </div> 
</div>

<div class="modal fade" id="order-success-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img alt="Pick n Pay Stores'" src="~/Images/pick-n-pay-logo.jpg" style="margin: 9px; border-radius: 6px;" />
            </div>

            <div class="modal-body">
               
                <div class="strip">
                    <b>THANKS FOR PATRONISING US</b>
                </div>
                <div style="margin: 1rem 0; text-align: justify;">
                    <p>An email will be sent to you once payment has been verified and the products are been shipped.</p>
                </div>
               
                <a class="btn btn-primary" href="/">OK</a>

            </div>
        </div>
    </div>
</div>