
@page "/product/{id}"

@using Microsoft.AspNetCore.Components.Web
@using Week8PicknPay.Models
@using Week8PicknPay.Repository
@using Week8PicknPay.Components

@inject IProductRepository _productRepository
@inject IShoppingCart _cart

@inherits ProductCart

<div class="product-page">
    <div class="product-image">
        <img alt="@product.Name" src="@product.ImageUrl">
    </div>
    <div class="product-details">
        <h3 class="product-name">
            @product.Name
        </h3>
        <hr />
        <div class="cart-price-group">
            <h3>
                @string.Format("# {0:N}", product.Price)
            </h3>
            <div class="cart-buttons">
                <button class="product-qty" @onclick="(e =>DecreaseQty())">
                    <i class="fa-solid fa-minus"></i>
                </button>
                <p style="font-size: 2.5rem;">@productQty</p>
                <button class="product-qty" @onclick="(e =>IncreaseQty())">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <p class="button">
                    <a class="btn btn-primary" @onclick="(() => AddToCart(product))">Add To Cart</a>
                </p>
            </div>
        </div>
        <hr />
        <div class="product-description">
            <h3>Description</h3>
            <hr />
            <h4>@product.ShortDescription</h4>
            <p>@product.LongDescription</p>
        </div>

    </div>
</div>


@if (show)
{
    <div class="add-cart-success">
        <div class="alert-content">
            <p class="alert-info">Product successfully added to cart!</p>
            <a class="cart-link" href="/shoppingcart">View Cart</a>
        </div>
        <div class="alert-close">
            <p class="dismiss" @onclick="(() => CloseNotification())">x</p>
        </div>
    </div>
}


@code {

    [Parameter] public string Id { get; set; }

    Product product;

    protected override void OnInitialized()
    {
        product = _productRepository.GetProductById(int.Parse(Id));
    }

    void AddToCart(Product product)
    {
        show = _cart.AddToCart(product, productQty);
    }
}
