@page

@model Product

    <div style="display: flex; justify-content: center;">
        <img alt="@Model.Name" src="@Model.ImageUrl" style="height: 30rem; min-width: 30rem; padding-right:.2rem; margin: 5px 5px 0 5px; ">
    </div>
    <div>
        <h3 class="pull-right">
            @string.Format("# {0:N}", @Model.Price)
        </h3>
        <h3 style="color:crimson">
           @Model.Name
        </h3>
        <h4>@Model.ShortDescription</h4>
        <p style="text-align:justify;">@Model.LongDescription</p>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                   asp-route-productId="@Model.ProductId">Add To Cart</a>
            </p>
        </div>
    </div>
