
@page "/product/{id}"

@using Week8PicknPay.Models
@using Week8PicknPay.Repository

@inject IProductRepository _productRepository; 

<div style="display: flex; justify-content: center;">
    <img alt="@product.Name" src="@product.ImageUrl" style="height: 30rem; min-width: 30rem; padding-right:.2rem; margin: 5px 5px 0 5px; ">
</div>
<div>
    <h3 class="pull-right">
        @string.Format("# {0:N}", product.Price)
    </h3>
    <h3 style="color:crimson">
        @product.Name
    </h3>
    <h4>@product.ShortDescription</h4>
    <p style="text-align:justify;">@product.LongDescription</p>
    <div class="addToCart">
        <p class="button">
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
               asp-route-productId="@product.ProductId">Add To Cart</a>
        </p>
    </div>
</div>


@code {

    [Parameter] public string Id { get; set; }

    Product product;

    int productQty = 1;

    void IncreaseQty()
    {
        productQty++;
    }

    void DecreaseQty(int id)
    {
        if (productQty - 1 > 0)
        {
            productQty--;
        }
    }

    protected override void OnInitialized()
    {
        product = _productRepository.GetProductById(int.Parse(Id));
    }
}
